:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 750px; /* Size of the gradient */
  --speed: 50s; /* Speed of the animation */
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8); /* Animation easing */

  width: var(--size);
  height: var(--size);
  position: absolute; /* Absolute positioning for centering */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  z-index: -1; /* Send it behind other content */
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
  animation: rotate var(--speed) var(--easing) infinite; /* Continuous rotation */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}

/* This is just to transition when you change the viewport size. */
@media (max-width: 720px) {
  .gradient {
    --size: 60vmin; /* Scale down for smaller screens */
  }
}
.cf {
  max-width: 100%; /* Prevent horizontal overflow */
  position: relative; /* Ensure content is above the gradient */
  z-index: 1;
  overflow: hidden; /* Prevent child overflow */
}
